@model IEnumerable<Data_capture.Models.Measurement>

@{
    ViewData["Title"] = "Index";
}

<h1>Measurements</h1>
<h3>Index</h3>

<p>
    <a asp-action="Create">Create New (Login first)</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Temperature
            </th>
            <th>
                Humidity
            </th>
            <th>
                Weight
            </th>
            <th>
                Width
            </th>
            <th>
                Length
            </th>
            <th>
                Dept
            </th>
            <th>
                Category
            </th>
            <th>
                Only logged in author can create
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MTemperature)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MHumidity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MWeight)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MWidth)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MLength)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MDepth)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ec.EcName)
            </td>
            <td>
                @if(ViewBag.currentUserId == item.UserId)
                {
                    <a asp-action="Edit" asp-route-id="@item.MId">Edit |</a> 
                }

                <a asp-action="Details" asp-route-id="@item.MId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.MId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
